@import "base/variables";
@import "components/nav";
@import "components/todowrap";
@import "components/todosearch";

body {
    background-color: $bg1;
}

.page-title {
    text-align: center;
    color: $main-color;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=search] {
    box-shadow: none;
}

.button.hollow, .button.hollow:focus {
    color: $main-color;
    border: 1px solid $main-color;
    outline: none;
}

.button.hollow:hover {
    color: $link-color;
    border: 1px solid $link-color;
}

a {
    color: $link-color;
}

a.active, a:focus {
    color: $hover-color;
    text-decoration: underline;
    outline: none;
}

a:hover {
    color: $hover-color;
}