// colours
$bg1: #1D976C;
$bg2: #93F9B9;
$main-color: #ffffff;
$link-color: #FFCD00;
$hover-color: #FFDE58;
$space-large: 20px;

// clock colours
$clock-text-color: $main-color;
$clock-bg-color: $bg1;
$clock-border-color: $main-color;