.todowrap {
    margin-bottom: 10px;
}

.todowrap__header {
    background: $link-color;
    background-size: 16px 16px;
    border-radius: 6px 6px 0 0;
    color: $bg1;
    padding: 19px 25px 20px;
}

.todowrap__footer {
    
}